extends layout

block content
  .container.animated.fadeIn
    h1 COMMANDS
    table
      tr
        th !schedule
        th Shows stream schedule
      tr
        th !points
        th Shows current points
      tr
        th !gamble (amount)
        th Gambles the amount typed in.  Only works if casino is open
      tr
        th !songrequest (youtube link)
        th Put song in queue with the cost of 50 chentapoints
    