
body {
    font-family:'Aldrich', sans-serif;
    color: white;
    background-image: url('https://media.giphy.com/media/dTQzKgfWqniuc/giphy.gif')
}

.container a { color: inherit; } 

.container a:hover 
{
     color:blue; 
     text-decoration:none; 
     cursor:pointer;  
}
.container {
    font-family: 'Aldrich', sans-serif;
    color:white;
    width: 75%;
    text-align: center;
}

.container2 {
    font-family: 'Aldrich', sans-serif;
    width: 85%;
    color:white;
    text-align: center;
    margin:auto;
}

.container h1 {
    font-family: 'Aldrich', sans-serif;
    margin:auto;
    margin-top:2%;
    font-size: 6.0em;
    color:white;
    display: block;
    text-align:center;
}

.container2 h1 {
    font-family: 'Aldrich', sans-serif;
    margin:auto;
    margin-top:2%;
    font-size: 6.0em;
    color:white;
    display: block;
    text-align:center;
}

.container btn {
    font-size: 2.0em
}
table {
    font-size: 2em;
    font-family: 'Aldrich', sans-serif;
    table-layout: auto;
    border-collapse: collapse;
    width: 75%;
    margin-left:13.5%;
}

td, th {
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 8px;
}

.container2 td, .container2 th {
    font-weight: bold;
    color: white;
    text-align: center;
    border: 5px solid white;
    padding: 8px;
}

.first {
    color: gold;
}

.second {
    color: silver;
}

.third {
    color: #a36b42;
}